@charset "utf-8";
/* html{ */
    /* scroll-behavior:smooth; */
/* } */
body{
    background:#ddd;
    color:#222;
    font-family:"Hiragino Kaku Gothic Pro",Osaka,"メイリオ","ＭＳ Ｐゴシック","MS PGothic",Verdana,Arial,sans-serif;
}
p,li,dt,dl{
    line-height:1.6;
}
p{
    margin:0 0 1em 0;
}
a{
    color:#FEA15C;
}
a:visited{
    color:#006543;
}
a:hover{
    text-decoration:none;
}
a:active{
    color:#888;
}
header{
}
footer{
    background-color:#ccc;
    padding:1em;
}
small{
    font-size:80%;
    text-align:center;
}
.textright{
    float:right;
}
.gnav__ul{
    width:100%;
    display:flex;
    list-style-type:none;
}
.gnav__li{
    width:calc(25%-2px);
    font-size:110%;
    font-weight:400;
    line-height:3em;
    border-right:1px solid #fff;
    cursor:pointer;
    text-align:center;
    flex:1 1;
}
.gnav__li:last-of-type{
    border:none;
}
.gnav__a{
    color:#222;
    text-decoration:none;
    display:block;
}
.gnav__a:link{
    color:#222;
    text-decoration:none;
    display:block;
}
.gnav__a:visited{
    color:#222;
    text-decoration:none;
    display:block;
}
.gnav__a:hover{
    background-color:#dadada;
    background-color:#fff;
}
h1{
    font-size:120%;
    padding:1em;
    letter-spacing:0.2em;
    font-weight:900;
    text-align:center;
    width:auto;
    color:#000;
}
.greeting {
    position:relative;
    margin:2em auto;
    padding:3ex 1em;
    width:min(40em,80vw);
    height:auto;
    background:#fff;
    border-radius:2px;
}
.greeting::before,
.greeting::after{
    content: '';
    position: absolute;
    width: 80%;
    height: 90%;
    bottom: 5%;
    z-index: -1;
    transition: all .4s ease-in-out;
    box-shadow: 0 1ex 1ex rgba(0,0,0,.4);
}
.greeting::before{
    left: 0;
    transform: skew(-2deg) rotate(-2deg);
}
.greeting::after{
    right: 0;
    transform: skew(2deg) rotate(2deg);
}
.greeting:hover::after{
    box-shadow:.5em 2ex 1ex rgba(0,0,0,.7);
    right: .5em;
}
.greeting__h2{
    text-align:center;
    padding-bottom:2ex;
}
.greeting__p{
    margin:.5ex 0;
}
.timetable{
    margin: 2em auto;
}
.tticon{
    background-size:contain;
    background-position:left center;
    background-repeat:no-repeat;
    padding-left:4ex;
    height:4ex;
}
.reception{
    background-image:url(tticon-reception.png);
}
.ceremony{
    background-image:url(tticon-ceremony.png);
}
.banquet{
    background-image:url(tticon-banquet.png);
}
.seeing-off{
    background-image:url(tticon-seeing-off.png);
}
